// css文件入口
// 1.消除浏览器默认css不一致 reset css
// 面试题: 程序的逻辑编css sass-->sass-loader-->css文件-->css-loader-->js模块-->利用webpage-->style-loader-->style标签中的dom元素
// 2.指定界面的风格  背景色  主题色


// 引入全局样式配置
@import "./config.scss";

// 引入修改elementui的样式文件
@import "./element.scss";

// 重置浏览器默认样式
@import "./reset.scss";

// 常见的样式类
.pull-right{float: right;}
.pull-left{float: left;}
.space-30{margin-top: 30px;}


// 导入的scss 是有上下文的
// body{
//     background-color: $bg-color;
// }


// 定义动画函数
@mixin webkit($type,$value){
    -webkit-#{$type}:$value ;//chrome
    -moz-#{$type}:$value ;//firefox
    -o-#{$type}:$value ;//opera
    -ms-#{$type}:$value ;//ie
}
// 定义label和表单元素之间的位置
@mixin  labelDom($align,$width,$line-height,$font-size:14) {
    label{
        float: left;
        width: $width + px;
        text-align: $align;
        line-height: $line-height + px;
        font-size: $font-size + px;
    }
    .warp-content{
        margin-left: $width + px;
    }
}